[include]
    path = .gitconfig_local
[alias]
    a    = add
    aa   = add --all :/
    b    = branch
    c    = commit -v
    ca   = commit -v --amend
    co   = checkout
    cp   = cherry-pick
    cva  = commit -va
    cvaa = commit -va --amend
    d    = diff
    dc   = diff --cached
    l    = log
    lp   = log -p
    line = log --oneline --decorate --graph
    p    = pull
    r    = rebase
    ri   = "!f() { git rebase -i HEAD~$1; }; f"
    s    = status
    gud = "!f() { curl -s http://whatthecommit.com/index.txt | tee; }; f"
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	branches = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %<(20)%(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	branches = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	branches = for-each-ref --sort=committerdate refs/heads/ --format='%<(20)%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	branches = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[push]
    default = simple
[credential]
    helper = cache --timeout=65535
[color]
	ui = true
